[Unit]
Description=Run Symlink Sentinel daily at 04:00
Documentation=https://github.com/royalraj95/unRAID-rclone-mounting-scripts-for-NzbDAV

[Timer]
OnCalendar=*-*-* 04:00:00
AccuracySec=1min
Persistent=true
Unit=nzbdav-symlink-cleanup.service

[Install]
WantedBy=timers.target
